.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header a {
    text-decoration: none;
    border: 1px solid #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    color: #006A50;
    font-weight: bold;
}

header a:hover {
    background-color: #006A50;
    color: #fff;
}

.idea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.idea .content {
    max-width: 50%;
    /* margin-left: 20; */
    /* margin-right: auto; */

}

.idea h2 {
    font-size: 30px;
    margin-bottom: 20px;
} 

.idea p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.idea a {
    text-decoration: none;
    border: 1px solid #006A50;
    padding: 10px 20px;
    /* margin-top: 0px; */
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #006A50;
}

.idea a:hover {
    background-color: #047649cf;
    color: #fff;
}

.pillars {
    display:block;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.pillars h2 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
}

.pillars .boxes {
    display: flex;
    gap: 20px;
}

.pillars .box {
    background-color: #FFFFFF;
    border: 1px solid #b5b4b4;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: auto;
    height: auto;
}

.pillars .box h3 {
    font-size: 20px;
    margin: 10px 0;
}

.pillars .box p {
    font-size: 14px;
    color: #666;
}

.vision {
    padding: 40px 20px;
}

.vision h2 {
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

.vision p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
    color: #222222;
}

.vision .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.vision .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card1{
    background-color: #43b458;
}
.card1 .btn{
    background-color: #ffffff;
}

.card2 {
    background-color: #8a6a26;
}
.card2 .btn{
    background-color: #ffffff;
}

.card3 {
    background-color: #a64ea7;
}
.card3 .btn{
    background-color: #ffffff;
}

.vision .card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.vision .card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.card .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #764d4d;
  }

.vision .card .btn:hover {
    background-color: #005c3b;
}

.quote {
    background-color: #fff;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote p {
    font-style: italic;
    color: #201f1f;
    margin-bottom: 20px;
}

.quote h3 {
    font-size: 18px;
    margin: 0;
    color: #201f1f;
}

.quote span {
    font-size: 14px;
    color: #201f1f;
}

.opinion {
    margin-left: 120px;
    margin-right: 120px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .opinion h2 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .table {
    width: 100%;
    
    /* border-collapse: collapse; */
  }

  .table th, .table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
  }

  .table th {
    background-color: #C6E4D6;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }

.selector {
    color: #006A50;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.news {
    margin-left: 120px;
    margin-right: 120px;
    
    padding: 20px;
    background-color: #fff;
  }
.news-box {
    display: flex;
    /* align-items: flex-end; */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .news-box2 {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: flex-end; */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .content h3 {
    /* font-size: 20px; */
    font-weight: bold;
    margin-top: 0px;
  }

  .time {
    /* font-size: 14px; */
    color: #0E0E0E;
    margin-bottom: 15px;
  }

  .news-img img {
    /* flex: 1; */
    /* align-items: flex-end; */
    width: 300px;
    justify-content: center;
    margin-right: 20px;
    border-radius: 8px;
    /* overflow: hidden; */
  }

  .text {
    margin-bottom: 20px;
  }

  .read-more {
    /* display: inline-block; */
    padding: 10px 20px;
    /* font-size: 14px; */
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 4px;
  }
  .read-more:hover {
    background-color: #218838;
  }

  .donate {
    max-width:80% ;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.donate h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.donate p {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 30px;
}

.donation-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.donation-options button {
    background: #ffffff;
    border: 2px solid #6c757d;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background 0.3s, color 0.3s; */
}

.donation-options button:hover {
    background: #28a745;
    color: #ffffff;
}

/* .donation-options .active {
    background: #28a745;
    color: #ffffff;
    border-color: #28a745;
} */

.other-amount {
    margin-bottom: 20px;
}

.other-amount input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 2px solid #6c757d;
    border-radius: 5px;
}

.donate-button {
    background: #28a745;
    color: #ffffff;
    box-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.donate-button:hover {
    background: #218838;
}

